first_telegram_chatbot.json
[{"id":"ea8e84bc.fa9678","type":"tab","label":"NODERED_001","disabled":false,"info":"This is the first Telegram Chatbot"},{"id":"802d21df.dc323","type":"function","z":"ea8e84bc.fa9678","name":"","func":"var helpMessage = \"/help - shows help information\\r\\n\";\nhelpMessage += \"/run_vm - deploy virtual machine\\r\\n\";\nhelpMessage += \"/run_apb - run ansible playbook\\r\\n\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \" + msg.originalMessage.from.username;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You chat id is:  \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":220,"wires":[["919825e.dee1fd8","97bd6c44.e6703"]]},{"id":"a7c74d9b.21f3c","type":"telegram command","z":"ea8e84bc.fa9678","name":"","command":"/help","bot":"77616add.2d8f34","strict":false,"hasresponse":false,"x":129,"y":142,"wires":[["bc9ba224.cdd97","802d21df.dc323"]]},{"id":"919825e.dee1fd8","type":"telegram sender","z":"ea8e84bc.fa9678","name":"","bot":"77616add.2d8f34","x":480,"y":300,"wires":[["e4546f9f.01142"]]},{"id":"bc9ba224.cdd97","type":"debug","z":"ea8e84bc.fa9678","name":"STEP01 Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"97bd6c44.e6703","type":"debug","z":"ea8e84bc.fa9678","name":"STEP02 Functions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"e4546f9f.01142","type":"debug","z":"ea8e84bc.fa9678","name":"STEP03 Sender","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":300,"wires":[]},{"id":"86441f17.a7a85","type":"comment","z":"ea8e84bc.fa9678","name":"001_DevNetSG_First_Telegram_ChatBot","info":"","x":240,"y":80,"wires":[]},{"id":"77616add.2d8f34","type":"telegram bot","z":"","botname":"DevNetSG","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]